
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(nani.jpg);
    
    
  }
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #100d44;
    transition: all .5s ease;
    
  }
  .sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
    background: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  
  #check:checked ~ section{
    margin-left: 250px;
  }

  
.container{
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
}  
  
img.icon {
    width: 30px;
    margin: 5px;
    border-radius: 200%;
    

}

div img{
    width: 15%;
    border-radius: 20%;
}

.text {
    font-weight: 300;
    font-size: larger;
    text-align: center;
    justify-content: center;
    color: #ddd;
    margin-top: 5rem;
    
} 

  